.alert
{
  width:70%;
  margin:15px auto;
  font-size:16px;
  border-radius: 5px;
  display: none;
    text-align: center;
}

#partner_register>div,
#partner_register>div input,
#EditInfo>div,
#EditInfo>div input,
#client_register>div,
#client_register>div input,
#register_employee>div,
#login>div,
#login>div input,
#ContactUs>div,
#ContactUs>div input

{
    margin-bottom:5px;
}
#partner_register>div .alert,
#EditInfo>div .alert,
#client_register>div .alert,
#register_employee>div .alert,
#login>div .alert,
#ContactUs>div .alert
{
    padding: 5px;
    font-size: 14px;
    text-align: center;
    margin: auto;
    width:auto;
}
#discountinput
{
    display: none;
}
footer
{
    background: #0B2232;
    color:#fff;
    z-index: 999;
}
footer h5.fl-right
{
    line-height: 35px;
}
/*input placeholder icon*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#e62031;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#e62031;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#e62031;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #e62031;
}

.fl-right
{
    float:right;
}
.fl-left
{
    float:left;
}
/* Font */
@font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Font */
*:focus
{
    outline: 0 !important;
}
a,
a:hover,
a:focus,
a:visited,
a:active,
button:focus,
input:focus,
.btn:focus,
.btn-lg:focus
{
 	text-decoration:none;
	outline:none;
    cursor: pointer;
}

.title
{

}
.loading
{
    background:#c4c3c3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top:15%;
    z-index:99999999999999999999999999999999;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
    float:right;
}
html
{
	direction:rtl;
}



/*input placeholder icon*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#e62031;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#e62031;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#e62031;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #e62031;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
   /* margin-right: 64px;*/
    position: absolute;
    padding: 10px;
    pointer-events: none;

}
.glyphicon-user,.glyphicon-lock{

    color: #c31c2b;
}

.glyphicon {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.remember-me{
    width: 100%;

}

.line{
    margin-left:0px;
}

.text-dark{
        font-size: 21px;

}
.straight {
    float: right;
    transform: none;
    margin-top: 11px;
    margin-bottom: 24px;
    border: 0;
    border-top: 2px solid #999;
    width: 149px;
    padding: -7px;
}

.red {
       -ms-transform: rotate(-45deg);
    -ms-transform-origin: 40% 20%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-2deg);
    transform-origin: 31% 20%;
    margin-top: -17px;
    margin-bottom: 24px;
    border: 0;
    border-top: 2px solid #999;
    width: 91px;
    padding: -7px;
    display: none;

}
hr {
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 40% 20%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-2deg);
    transform-origin: 31% 20%;
    margin-top: -17px;
    margin-bottom: 24px;
    border: 0;
    border-top: 2px solid #999;
    width: 91px;
    padding: -7px;
}


.main-btn
{

}
.main-btn:hover
{

}



/*background behind forms*/
.background
{

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
	background:rgba(0,0,0,.8);
}


/* Popup */
.popup , .popup-title{

    border-top-right-radius:0.4em;
    border-top-left-radius: 0.4em;


}
#test-popup2
{
    background: #eee;
   /* margin: 7% auto;*/
    width: 48%;
    position: fixed;
    top:-8%;
    left:27%;
    z-index:2;
    display: none;

}
.popup
{ padding: 0px 30px;
    background: #eee;
    margin: 7% auto;
    width: 48%;
    position: fixed;
    top:4%;
    left:27%;
    z-index:2;
    display: none;

}
.popup2
{ padding: 0px 30px;
    background: #eee;
    margin: 7% auto;
    width: 48%;
    position: fixed;
    top:4%;
    left:27%;
    z-index:2;
    display: none;

}


.popup i.fa-close
{
    font-size: 20px;
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.popup-title
{
    padding: 7px;
    color:#e62031;
    text-align: center;
}

.popup-content
{
    background: #c31c2b;
    padding: 6px;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
    border-top-right-radius: 0.1em;
    border-top-left-radius: 0.1em;
}
/*END POPUP*/



/* Start Navbar */

nav {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    transition: 2s all ease-in-out;

}

.nav>li>a {
    color: #fff;
    padding: 7px 16px;
    font-size: 20px;
    transition: .2s all ease-in-out;
}

.nav>li>a:focus,
.nav>li>a:active .nav>li>a:visited {
    background: #c31c2b;
    color: #fff;
}

nav .active a,
nav .active a:focus,
nav .active a:active {}

.nav .active {
    border-radius:0;
    color:#c31c2b;
}

.nav .active a {
        color:#c31c2b;

}


.nav>li {
        float: right;
    margin-right: 6px;
    margin-bottom: 5px;
    transition: .6s all ease-in-out
}

.navbar-toggle .icon-bar {
    background: #f5f5f5;
    /* color: #fff; */
    display: block;
    width: 17px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle {
  width: 40px;
    float: left;
    margin-left: 20px;
    background: #c31c2b;
}
.nav .button:hover{
    color: #FFF;
    background: #c31c2b;
    border-radius:none;
}

.nav>li>a:hover {
    color:#c31c2b;
    border-radius: 5px;
    background: none;
}

.navbar-brand {
    margin-top: -5px
}



.navbar-brand span {
    color: #eee;
    margin-top: 20px;
    float: left;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background: #0b2233;
}

.button{

        border-radius: 5px;
    color: #fff;
    font-size: 23px;
   /* margin-top: 29px;*/
    width: 100%;
    height:40%;
    padding: 6px;
    border: none;
    border-bottom: 5px solid #c31c2b;
    background: #e62031;
}


/* End Navbar */













/*about*/
.about{
    overflow: hidden;
    background: #eee;
    padding-bottom: 80px;
    padding-top: 80px;
}


.about .to {
    color:#0b2233 ;
    line-height: 1.7;
    width: 70%;
    margin-top: 0px;
    font-size: 25px;
}


.about img {
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
}

.leftred {
    border: 7px solid #c31c2b;
    height: 350px;
    width: 320px;
    overflow: hidden;
}
.normal {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    color: #999;
}

/* Features */

.Features{
    background: url(../images/features.jpg) center;
    background-size: 100% 100%;
    text-align: center;
    height: 750px;
    width: 100%;
    overflow: hidden;


}


 .Features .color{

	background:rgba(255,255,255, 0.9);
	background-size:cover;
	position: relative;
	height:750px;

	}

   .text-Features{
     margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    color: #0b2233

    }

 /* end  Features */








/* cars */

.cars{
    background: url(../images/gallery.jpg) center;
    background-size: 100% 100%;
    text-align: center;
    height: 850px;
    width: 100%;
    overflow: hidden;


}


.cars .color{

	background:rgba(255,255,255, 0.9);
	background-size:cover;
	position: relative;
	height:850px;

	}
.cars a {
    background: none;
    border: none;
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    margin-top: 20px;
}
/*
.search input{
    /* margin: auto 67px;
    background:#f5f5f5;
    right: 40;
    border: none;
    color: #999;
    padding: 5px;
    width: 44%;
    padding: 15px;
    font-size: 23px;
    margin-bottom: 20px;
    resize: none;
    transition: .4s all ease-in-out;
    direction: rtl;
    /* border-radius: 5px;
    max-width: 80%;
}
*/

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search {
    position: absolute;
    top: 19px;
    left: 386px;
    font-size: 23px;
}

.carousel-indicators li {
    padding: -7px;

    border-radius: 1px;
    width: 34px;
    height: 32px;
        margin: 10px;

    background-color: none;

    text-indent: 0;

    font-size: 23px;
    color: #999;
    border: none;

    font-size: 20px;

    height:40%;
    padding: -5px;
    border-bottom: 4px solid #c31c2b;
}
.carousel-indicators .active {
    border-radius: 1px;
    width: 34px;
    height: 32px;
    margin: 10px;
    background-color: #e62031;
    font-size: 23px;
    color: #fff;
    border: none;

    font-size: 20px;
    margin-top: 22px;
    padding: -5px;
    border: none;
    border-bottom: 4px solid #c31c2b;
}
.carousel-indicators {
    position: absolute;
    left: 33%;
    z-index: 15;
    width: 43%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    top: 20px;
}
/* carousel */
.carousel-inner {
    position: relative;
    width: 158%;
    overflow: hidden;
}
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}

.media-carousel img {
    width: 336px;
    height: 269px;
}
/* End carousel */
.btn-red2 {
    border-radius: 5px;
    color: #fff;
    /* font-size: 2px; */
    margin-top: -8px;
    width: 39%;
    height:40%;
    padding: 0px;
    border: none;
    border-bottom: 10px solid #c31c2b;
    background: #e62031;
}


.about img , .brightness {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.thumbnail .image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.thumbnail h2 {
   position: absolute;
   top: 150px;
   left: 0;
   width: 100%;
}
.thumbnail h4 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

/* end  cars */

/*  contact */
#contact {
    background: url(../images/footer.jpg) center;
    background-size: 100% 100%;
    text-align: center;
    width: 100%;
    overflow: hidden;
}


 #contact .color {
    padding-top: 45px;
    background: rgba(255,255,255, 0.8);
    background-size: cover;
    position: relative;
    height: 100%;
}
#contact form
{
    margin-top: 20px;
}

#contact .col-xs-4 i
{

    padding: 16px;
    background: #e62031;
    border-radius: 7%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#contact input,
#contact textarea
{
    background: rgba(245,245,245,.7);
}
#contact .textarea-edit {
	height:140px;
	padding-top:10px;
}

.btn-red {
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    margin-top: 0px;
    width: 17%;
    height:40%;
    padding: 6px;
    border: none;
    border-bottom: 10px solid #c31c2b;
    background: #e62031;
}
.email1,.password1
{
      padding-right: 30px;
       width: 75%;
}
.contact-form #name {
    float:left;
}
.contact-form #phone {
    float:right;
}
/* end  contact */

.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
    float:right;
}
html
{
	direction:rtl;
}
.fl-right
{
    float:right;
}
.fl-left
{
    float:left;
}
.text-grey
{
    color: #aaa;
}
.text-dark
{
    color: #333;
}
.text-red
{
  color:#ec1a25;
}
label
{
  font-weight: 400;
}
/* Font */
@font-face
{
	src:url(../fonts/JF-Flat-regular.ttf);
	font-family:"FirstCar";
}
/* Font */
*
{
	font-family:"FirstCar";

}
*:focus
{
    outline: 0 !important;
}
a
{
    text-decoration: none !important;
}
body
{

}
.title
{

}
input,select,textarea
{
  padding:12px;
  font-size: 16px;
  background:#f5f5f5;
  border:0;
  color:#ec1a25;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: .4s all ease-in-out;
  text-align: right;
  direction: rtl;
}
/*input[type="file"]*/
/*{*/
  /*display:none;*/
/*}*/
input[type="radio"],
input[type="checkbox"]
{
  width: 18px;
  height: 18px;
  background: #fff;
  cursor: pointer;
  vertical-align: text-bottom;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
  margin-right: 10px;
  margin-top: 0;
  float:right;
  margin-bottom: 20px;
}
 input[type="radio"]:checked,
 input[type="checkbox"]:checked
 {
  background: #ec1a25;
}
hr {
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 40% 20%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-2deg);
    transform-origin: 31% 20%;
    margin-top: -17px;
    margin-bottom: 24px;
    border: 0;
    border-top: 2px solid #999;
    width: 91px;
    padding: -7px;
}
input:focus
{
  background: #fff;
}
button
{
   padding: 10px 25px;
   border-bottom: 7px solid #eee;
   background: #fff;
   font-size: 16px;
   border:0;
   transition: .4s all ease-in-out;
   border-radius: 3px;
   margin-bottom: 20px;
}
.main-btn
{
    background: #ec1a25;
    border-bottom: 7px solid #c31925;
     color:#fff;
}
.main-btn:hover
{
      background:#c31925;
}
.sm-btn
{
  padding: 4px 8px;
  font-size: 14px;
  border-width: 4px;
}
.loading
{
    background:#c4c3c3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top:15%;
    z-index:99999999999999999999999999999999;
}
/*background behind forms*/
.background
{

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    display: none;
	background:rgba(0,0,0,.8);
}
/* Popup */
.popup , .popup-title{

    border-top-right-radius:0.4em;
    border-top-left-radius: 0.4em;
}
.popup
{ padding: 0px 30px;
    background: #eee;
    width: 70%;
    position: fixed;
    top:20px;
    left:13%;
    z-index:10;
    display: none;
    max-height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0;
}
.popup i.fa-close
{
    font-size: 20px;
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.popup-title
{
    padding: 7px;
    color:#e62031;
    text-align: center;
}

.popup-content
{
    background: #c31c2b;
    padding: 6px;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
    border-top-right-radius: 0.1em;
    border-top-left-radius: 0.1em;
}
/*END POPUP*/
#test-popup
{
  margin-top: 10%;
}
.main-btn i.fa-gear
{
    margin-right: 10px;
    -webkit-animation-name: spinner;
    animation-name: spinner;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: spinner;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
}
@-webkit-keyframes spinner
{
    0%
    {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
     10%
    {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
     20%
    {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
     30%
    {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
     40%
    {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
     50%
    {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
     60%
    {
        -webkit-transform: rotate(2100deg);
        transform: rotate(2100deg);
    }
     70%
    {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg);
    }
    80%
    {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
     90%
    {
        -webkit-transform: rotate(3000deg);
        transform: rotate(3000deg);
    }
     100%
    {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
    }
}
.cars-view
{
  padding: 80px 0;
  background: url(../images/gallery.jpg) center;
  background-size: 100% 100%;
}
#owl-cars .item .back2
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(11,34,51,.3);
}
#owl-cars .item .back
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(11,34,51,.8);
  padding: 10px;
  opacity: 0;
  transition: .6s all ease-in-out;
}
#owl-cars .item img
{
    width: 100%;
    height: 100%;
}
#owl-cars .item .back:hover
{
  opacity: 1;
}
#owl-cars .item .back .info
{
  text-align: center;
border:6px solid #f00;
padding: 19.5px;
}
#owl-cars .item .back .info h3 , h2 , h4
{
  margin: 5px auto;
}
#owl-cars .item .back .info span
{
  color:#eee;
}
.owl-pagination
{
  direction: rtl;
}
.owl-theme .owl-controls .owl-page span.owl-numbers
{
  border-radius: 2px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
font-size: 18px;
border-bottom: 2px solid #d00;
background: none;
color: #d00;
opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span.owl-numbers
{
  background: #d00;
  color:#eee;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
    background:#ec1a25;
    border:0;
    border-bottom: 2px solid #c31925;
    border-radius: 2px;
}
.dataTables_wrapper .col-sm-7
{
    width:100%;
    text-align: center;
}
div.dataTables_paginate
{
    text-align: center;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after
{
    top:12px;
    right: auto;
    left:5px;
    opacity: .7;
    color:#fff;
    padding-right: 50px;
    font-size: 12px;
}
table.dataTable td,
table.dataTable th
{
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color:#152C3C;
    border:2px solid #f5f5f5;
}
table.dataTable
{
    width: 99%;
    margin:10px auto;
}
table.dataTable thead th
{
    padding: 10px 20px !important;
    background: #ec1a25;
    border: 2px solid #eee;
    color: #fff !important;
    font-weight: 900 !important;
}
table.dataTable thead th span
{
    padding: 5px;
}
.pagination>li>a, .pagination>li>span,
.pagination>li>a:hover, .pagination>li>span:hover
{
    color:#ec1a25;
}
