/*Mobiles & Tablets*/
@media (max-width: 767px)
{
    header i.fa-bars
    {
        display:inline-block;
    }
    .SideBar
    {
        position: fixed;
        top:0;
        right: 0;
        width: 0;
        display: none;
    }
    .SideBar .default
    {
      display:none;
    }
    .SideBar .sm
    {
      display:block;
    }
    section.content
    {
        margin-right:0;
        width:100% !important;
    }
    footer h5.fl-right
    {
      padding-right: auto;
    }
}
/* Small Screen */
@media (min-width: 768px) and (max-width: 993px)
{
    header i.fa-bars
    {
        display:inline-block;
    }
    .SideBar
    {
        position: fixed;
        top:0;
        right: 0;
        width: 0;
        display: none;
    }
    .SideBar .default
    {
      display:none;
    }
    .SideBar .sm
    {
      display:block;
    }
    section.content
    {
        margin-right:0;
        width:100% !important;
    }
    footer h5.fl-right
    {
      padding-right: auto;
    }
}
/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px)
{
   #wrap
    {
        margin-right: 0 !important;
    }
	header i.fa-bars
    {
        display:none !important;
    }
    .SideBar
    {
        position: fixed;
        top:auto !important;
        right: auto !important;
        width: 235px !important;
        display: block !important;
        height: 100%;
    }
    .SideBar .default
    {
      display:block;
    }
    .SideBar .sm
    {
      display:none;
    }
    section.content
    {
        right:235px !important;
        margin-right:0;
    }
    .col-md-5-5
    {
        width:48%;
        margin-left:2%;
    }
    .col-md-8-5
    {
        width:73%;
        margin-left:2%;
    }
    footer h5.fl-right
    {
      padding-right: 200px;
    }

}
/* Large Screen */
@media (min-width: 1200px)
{
    #wrap
    {
        margin-right: 0 !important;
    }
	header i.fa-bars,
    header i.fa-close
    {
        display:none !important;
    }
    .SideBar
    {
        position: fixed;
        top:auto !important;
        right: auto !important;
        width: 235px !important;
        display: block !important;
        height: 100%;
    }
    .SideBar .default
    {
      display:block;
    }
    .SideBar .sm
    {
      display:none;
    }
    section.content
    {
        right:235px !important;
        margin-right:0;
    }
    .col-md-5-5
    {
        width:48%;
        margin-left:2%;

    }
    .col-md-8-5
    {
        width:73%;
        margin-left:2%;
    }
    footer h5.fl-right
    {
      padding-right: 200px;
    }
}
