header
{
    background: #0B2232;
    padding: 10px 0;
    color:#ec1a25;
    font-weight: 700;
    font-size:18px;
}
header a,
header a:hover,
header a:focus
{
    color:#ec1a25;
    font-size: 16px;
}
body
{
    background: #ECEFF4;
}
.box
{
    width:70%;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 5px;
    width:100%;
    margin:20px auto;
}
.main-box
{
    padding: 0 20px 20px 20px;
    background: #fff;
    border-top: 5px solid #ec1a25;
    overflow-x: scroll;
}
.contents table
{

    border:2px solid rgba(200,200,200,.2);
    overflow: scroll;
    font-size: 15px;
    color:#0B2232;
    width: 100%;
    margin: auto;
    max-height: ;
}
.contents table tr td,
.contents table tr th
{
    border:2px solid rgba(200,200,200,.2);
    padding: 8px;
    text-align: center;

}
.contents table tr td i.fa-star
{
    color:#ec971f;
}
.contents table tr th
{
color:#ec1a25
}
.contents table tr td button
{
    margin-bottom: 0;
}
.contents table tr td input
{
    padding: 3px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center
}
.contents table tr td .alert
{
    padding: 5px;
    font-size: 14px;
    text-align: center;
    margin: auto;
    width:auto;
}