
table
{
  margin: auto;
}
body
{
  background: #0b2232;
}
.content article
{
    margin-bottom: 20px;
}
header
{
    background: #0B2232;
    color:#fff;
}
header i.fa-bars,
header i.fa-close
{
    line-height: 39px;
    margin-right: 60px;
    font-size: 21px;
    cursor: pointer;
    display: none;
}
header i.fa-close
{
    display: none;
}
header .dropdown
{
        margin-top: 7px;
}
header .dropdown>a
{
    color:#ec1a25;
    font-size: 16px;

}
header .dropdown a span
{
        margin-right: 10px;
}
header .dropdown ul
{
        background: #0b2232;
}
header .dropdown ul li
{
        margin: 10px 0;
    text-align: center;

}
header .dropdown ul li a
{
        color:#fff;
    padding: 10px;
    transition: .4s all ease-in-out;
}
header .dropdown ul li a:hover
{
    background: #152c3c;
    color:#fff;
}

header .dropdown ul li a i
{
        color:#ec1a25;
        margin-left: 10px;
}
header .dropdown ul li a
{
        color:#fff;
}
header .dropdown .dropdown-menu
{
        left:-15;
    margin-top: 10px;
    border-radius: 0;
}
header .notifcation-body
{
  background: #fff !important;
  color: #0b2232;
  left: -120px;
  width: 270px;
}
header .notifcation-body li
{
  background: #f5f5f5;
  margin-bottom: 5px;
  padding: 5px 2px;
  position: relative;
  border-right: 5px solid #ec1a25;
}
header .notifcation-icon
{
  color:#f5f5f5 !important;
  position: relative;

}
header .notifcation-icon span
{
  color:#f5f5f5;
  background:#ec1a25;
  font-size: 10px;
  width:12px;
  height:12px;
  line-height: 12px;
  text-align: center;;
  position: absolute;
  top:2px;
  right:-15px;


}
header .notifcation
{
  color:#f5f5f5;

}
header .notifcation-body li i
{
  position: absolute;
  top:5px;
  left:5px;
  color:#ec1a25;
  opacity: 0;
  visibility: hidden;
font-size: 18px;
cursor: pointer;
  transition: .4s all ease-in-out;
}
header .notifcation-body li:hover i
{
  opacity:1;
  visibility: visible;
}

.wrapper {
	position: relative;
}
#wrap
{
    transition: .4s all ease-in-out;

}
.SideBar
{
	background: #0B2232;
    padding: 0 2px;
    z-index: 2;
    overflow: hidden;
    transition: .4s all ease-in-out;
    width:20%;
    float:right;
    position: fixed;
    height: 100%;
}
.SideBar ul
{
	    padding: 0;
    margin-top: 25px;
    border-bottom: 0;
}
.nav-tabs>li {
    float: none;
    color: #eee;
    margin-bottom: 16px;
    transition: .4s all ease-in-out;
}
.nav-tabs.sm>li {
    float: none;
    color: #eee;
    margin-bottom: 16px;
    transition: .4s all ease-in-out;
}
.nav-tabs>li>a {
    border-radius: 0 !important;
        color: #eee;
    margin-right: 0;
     transition: .4s all ease-in-out;
    font-size: 16px;
    padding: 12px;
    border:0;
    border-right: 6px solid transparent ;
}
.nav-tabs.sm>li>a {
    border-radius: 0 !important;
        color: #eee;
    margin-right: 0;
     transition: .4s all ease-in-out;
    font-size: 12px;
    padding: 12px 2px;
    border:0;
    border-right: 4px solid transparent ;
}
.nav-tabs>li>a i
{
    color:#EC1A25;
    margin: 0 20px;
    font-size: 18px;
}
.nav-tabs.sm>li>a i
{
    color:#EC1A25;
    margin: 0 10px;
    font-size: 16px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover ,
.nav-tabs>li>a:hover
{
    border-top:0;
    border-bottom: 0;
    border-left: 0;
    padding: 12px;
    border-right: 6px solid #EC1A25 ;
    background: #152C3C;
    color: #fff;
}
.nav-tabs.sm>li.active>a, .nav-tabs.sm>li.active>a:focus, .nav-tabs.sm>li.active>a:hover ,
.nav-tabs.sm>li>a:hover
{
    border-top:0;
    border-bottom: 0;
    border-left: 0;
    padding: 12px 2px;
    border-right: 4px solid #EC1A25 ;
    background: #152C3C;
    color: #fff;
}
.SideBar
{

}
.SideBar
{

}
.SideBar
{

}
section.content
{
	background: #ECEFF4;
    overflow: hidden;
    margin-right: 250px;
}
section.content .tab-pane
{
  padding: 10px 0;
}
h2.title
{
    font-size: 18px;
    color: #D40025;
}
.item .box
{
    width:70%;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 5px;
    color:#fff;

}
.statistics .box-orange
{
    background:#FC9800;
    border-bottom: 15px solid #F28700;
}
.statistics .box-red
{
    background:#D40025;
    border-bottom: 15px solid #C10022;
}
.statistics .box-blue
{
    background:#00BBEA;
    border-bottom: 15px solid #00A8D3;
}
.statistics .box-green
{
    background:#00B75C;
    border-bottom: 15px solid #009B50;
}
.main-box
{
    padding: 20px;
    background: #fff;
    border-top: 5px solid #ec1a25;
    overflow-x: scroll;
}
.main-box .title
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 10px;
}
.Latest-Clients
{

}
.Latest-Clients
{

}
.Latest-Clients .client,
.Latest-Employees .employee
{
    width: 33%;
    margin: 10px auto;
    float: right;
    text-align: center;
}
section.content .Latest-Cars .image
{
	width:60px;
  height: 60px;
  margin-left: 10px;
}
section.content .Latest-Cars .image img
{
	width: 100%;
    height: 100%;
}
section.content .Latest-Cars .car
{
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
section.content .Latest-Cars .car h4
{
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
section.content .Latest-Cars .car p
{
  margin: 0;
  font-size: 12px;
}
section.content .Latest-Reservations table,
section.content .Latest-Reservations table td,
section.content .Latest-Reservations table th
{
  text-align: center;
  padding: 15px;
  font-size: 16px;
  color:#152C3C;
}
section.content .Latest-Reservations table span,
section.content #Reservations table span
{
  padding: 2px 15px;
  border-radius: 5px;
}
section.content .Latest-Reservations table tr,
section.content #Clients table tr,
section.content #Employees table tr,
section.content #Partners table tr,
section.content #Cars table tr,
section.content #Reservations table tr
{
  border-bottom:1px solid #ddd;

}
section.content
{
    min-height: 540px;
}
section.content #Cars .cars img
{
  width:70px;
  height: 70px;
}
label#image
{
  background: #152C3C;
  color:#ec1a25;
  padding: 12px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 90%;
  text-align: center;
  margin: auto;
}
label#image i
{
  margin-right: 5px;
}

.contents>section
{
    display: none;
    position: relative;
}
.contents>section #back
{
   
}
#Recive .reservations
{
    
}
#Recive .reservations .item
{
    cursor: pointer;
    border:4px solid #ec1a25;
    padding: 0px;
    background: #f5f5f5;
}
#Recive .reservations .item .image
{
    width: 100%;
    height: 170px;
    margin: auto;
}

#Recive .reservations .item .image img
{
    width: 100%;
    height: 100%;
}
#Recive .reservations .item h4 , h5 , h6
{
    margin: 5px
}
#Recive .reservations .item 
{
    
}
#Recive .reservations .item 
{
    
}
#Recive
{
    
}
#Recive
{
    
}
#Recive
{
    
}
#Expenses .expenses
{
    width:100%;
    height:550px;
    overflow:scroll;
}
#Expenses .expenses table
{
    width: 100%;
    margin:auto;
    border:2px solid #ddd;
}
#Expenses .expenses table th ,
#Expenses .expenses table td
{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
#Expenses .expenses table th
{
    background: #ec1a25;
    color:#fff;

}
#Expenses .expenses table td
 {
    background: #fefefe;
 }
#Expenses .expenses table tr
{
    border-bottom:2px solid #ddd;
}

.contents>section
{
    
}

* {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    print-;
   }
.contract
{
    width:595px;
    height: 842px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 20px;

}
.contract .contract-title h3
{
    margin: 0;
    color:#c31925;
    background: #333;
    padding: 5px;
    border-radius: 7px;
}
.contract .contrat-title
{

}
.contract table th
{
    padding: 5px;
}
.contract table td
{
    padding:20px 0;

}
.contract table th ,
.contract table td
{
    font-size: 10px;
    text-align: center;
}
.contract table
{
    margin: 5px 0;
}
.contract .contents
{
    border:1px solid #222;
    font-size: 10px;
    padding: 2px;
}
.contract .contents .title
{
    background: #ec1a25 !important;
    color:#fff;
    font-size: 11px;
    padding: 0 5px ;
    border-radius: 2px;
    margin: 50px 0;
}
.contract .contents .info
{

}
.contract .contents .conditions
{
    border-right:1px solid #222;
}
.contract .contents .conditions .title
{
    font-size: 9px;
    padding: 0 4px;
    margin-bottom: 50px
}
.contract .contents .conditions>.text-center>span
{
    border-bottom: 4px solid #ec1a25;

}
.contract td
{
    word-break: break-all;
}
.approval
{
    width:595px;
    height: 480 px;
    margin: auto;
    background: #fff;
    padding: 20px 20px;
    font-size: 12px;
    display: none;
}
.approval
{

}
.approval
{

}
#End_Print2
{
    display: none;
}
